# Enforce LF line endings for all text files
* text eol=lf


# Specific overrides for binary files (prevent Git from changing their line endings)
*.jpg -text
*.jpeg -text
*.png -text
*.gif -text
*.pdf -text
*.ico  -text
*.webp -text
*.woff2 -text
*.ttf -text

*.JPG binary
*.jpg binary