/* 80% */
@media (max-width: 1920px) {
  .main_title {
    font-size: 4.75rem;
  }
  .title {
    font-size: 2.4rem;
    line-height: 3rem;
    margin-top: -0.5rem;
  }
  .description {
    margin-top: 1.6rem;
    font-size: 1.6rem;
    line-height: 2.9rem;
  }
}

/* 90% */
@media (max-width: 1770px) {
  .main_title {
    font-size: 4.3rem;
  }
  .title {
    font-size: 2.2rem;
    margin-top: -0.5rem;
  }
  .description {
    margin-top: 1rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

/* 100% */
@media (max-width: 1620px) {
  .main_title {
    font-size: 3.5rem;
  }
  .title {
    font-size: 1.8rem;
    margin-top: -0.6rem;
  }
  .description {
    margin-top: 1rem;
    font-size: 1.3rem;
    line-height: 2.1rem;
  }
}

/* 110% */
@media (max-width: 1470px) {
  .main_title {
    font-size: 3.2rem;
  }
  .title {
    font-size: 1.5rem;
    margin-top: -0.6rem;
  }
  .description {
    margin-top: 0.9rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}

/* 125% */
@media (max-width: 1245px) {
  .main_title {
    font-size: 3rem;
  }
  .title {
    font-size: 1.37rem;
    margin-top: -0.7rem;
  }
  .description {
    margin-top: 0.6rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

/* 133% */
@media (max-width: 1180px) {
  .main_title {
    font-size: 2.5rem;
  }
  .title {
    font-size: 1.3rem;
    margin-top: -0.75rem;
  }
  .description {
    margin-top: 0.6rem;
    font-size: 0.95rem;
    line-height: 1.35rem;
  }
}

/* mobile  */
@media (max-width: 768px) {
  .main_title {
    font-size: 2.25rem;
    padding-left: 2rem;
    line-height: 50px;
  }
  .title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-top: -0.1rem;
  }
  .description {
    margin-top: 1rem;
    font-size: 16px;
    line-height: 1.5rem;
    text-wrap: balance;
  }
}
