.achievement_card {
  gap: 8px;
  padding: 20px;
  border-radius: 20px;
  overflow: auto;
  background-color: #ffffff80;
  @apply font-primary;
}

.achievement_card:last-child {
  margin-bottom: 40px;
}

.achievement_card_title {
  grid-area: title;
  color: #552b0a;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}

.achievement_card_image {
  grid-area: image;
  max-height: 215px;
  margin-block: 1.25rem;
  align-items: center;
  overflow: hidden;
  border-radius: 22px;
  border-width: 4px;
  border-color: #ecc19a;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.achievement_card_description {
  grid-area: description;
  text-wrap: balance;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #000000;
  text-align: justify;
}

.achievement_card_link {
  grid-area: link;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-inline: auto;
  margin-top: 1.25rem;
  padding-inline: 20px;
  padding-block: 16px;
  border-radius: 1000px;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: #ffffff;
  box-shadow: 0px 4px 4px 0px #00000040;
  @apply space-x-4 bg-secondary-500 duration-300 hover:scale-105;
}

@screen md {
  .achievement_card {
    display: grid;
    border-radius: 48px;
    column-gap: 1.87rem;
    padding: 1.81rem;
  }
  .achievement_card_title {
    font-size: 1.875rem;
    line-height: 44px;
  }
  .achievement_card:nth-child(odd) {
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      'title image'
      'description image'
      'link image';
  }
  .achievement_card:nth-child(even) {
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      'image title'
      'image description'
      'image link';
  }
  .achievement_card_image {
    margin-block: 0;
    height: 450px;
    max-height: 450px;
  }
  .achievement_card_description {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .achievement_card_link {
    width: fit-content;
  }
}

@screen lg {
  .achievement_card_title {
    font-size: 1.5rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .achievement_card_description {
    line-height: 2.5rem;
  }
  .achievement_card_link {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@screen 2xl {
  .achievement_card_title {
    align-self: center;
  }
  .achievement_card_description {
    height: fit-content;
    align-self: center;
  }
}
